@font-face {
  font-family: "Anisette";
  src: url("./fonts/anisette-light.woff2") format("woff2"),
    url("./fonts/anisette-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
